################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/VeracryptSharp/bin/Debug/netstandard2.0
/VeracryptSharp/obj
/VeracryptSharpDemo/bin/Debug/netcoreapp3.0
/VeracryptSharpDemo/obj
/VeraCryptSharpTests/bin/Debug/netcoreapp3.0
/VeraCryptSharpTests/obj/Debug/netcoreapp3.0/VeraCryptSharpTests.AssemblyInfo.cs
/VeraCryptSharpTests/obj
